<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
<div class="float-container">
	<div class="grid4columnbig">
		<a href="{tag_full image_value}" class="fancylightbox" title="Title can be filled in or removed easily">
			<img src="{tag_detail image_value}" alt="" />
		</a>
	</div>

	<div class="grid4column lastcolumn"><br>
		<h4>Say it in print</h4>
		{tag_description}
		<a href="{tag_full image_value}" class="button fancylightbox">View more ›</a>
	</div>
</div>
<div class="divider"></div>


</body>